main .datatable {
    display: table;
    width: 100%;

}

main .datatable .caption {
    background: var(--table-border-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    height: 1.5rem;
    padding-left: 0.6rem;
    padding-top: 0.2rem;
}

main .datatable table {
    text-align: center;
    width: 100%;
}

main .datatable table,
main .datatable th,
main .datatable td {
    border: 1px solid var(--table-border-color);
    border-collapse: collapse;
}

main .datatable table tbody tr {
    height: 1.8rem;
}

main .datatable table tbody tr:nth-child(2n+1) {
    background-color: #F8F8F8;
}