:root {
    --border-color: rgb(185, 185, 185);
    --border-radius: 6px;
    --black-color: #333;
    --caption-color: #3B5998;
    color: var(--black-color);
    font-family: Verdana, sans-serif;
    font-size: 35px;

}

html {
    padding: 1rem;
    /*min-width: fit-content;*/
    /*min-width: 50rem;*/
    /*max-width: 100rem;*/
    /*min-width: 600px;*/
    /*max-width: 1200px;*/
    margin: 0 auto;
}

header {
    min-width: 50rem;
    position: relative;
}

header .languages {
    position: absolute;
    top: 0;
    right: 0;
}

header .enter-or-register-box {
    position: absolute;
    top: 32px;
    right: 0;
}

header nav {
    position: relative;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 0.75rem 0.25rem;
    margin-top: 1rem;
}

header nav ul {
    margin: 0;
    /*margin: 0 18rem 0 0;*/
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-left: 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: var(--black-color);
    font-family: "Arial Narrow", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

header nav .search {
    position: absolute;
    top: 0;
    right: 0;
}

header nav .search input {
    border: 1px solid var(--border-color);
    font: 0.85rem Arial;
    color: var(--black-color);
    height: 1rem;
    width: 10rem;
    padding: 1px 1px 1px 20px;
    margin: 0.75rem 0.25rem;
    outline-color: cornflowerblue;
    background: #f4f4f4 url(../img/search-16x16.png) 2px 2px no-repeat;
}
